@using Aeon_Web.Models.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link rel="stylesheet" href="~/css/common.css"/>
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Project"
           asp-page="/Likes/Index">
            Лайки
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity"
           asp-page="/Account/Profile/Index">
            Профиль
        </a>
    </li>
    }
    else
    {
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Войти</a>
    </li>
    }
</ul>