@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        //Layout = "_Layout";
    }
}

<a class="settings-nav">
    Настройки профиля
</a>

<h1>Профиль</h1>

<div>
    <h2>Change your account settings</h2>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}