<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" asp-area="Identity" asp-page="/Account/Profile/Edit">Редактировать</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-area="Identity" asp-page="/Account/Manage/Index">Настройки</a>
    </li>
</ul>