.main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #401a53;
    color: #333;
    text-align: center;
}
.content-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}
.title {
    font-size: 36px;
}
.text {
    font-size: 18px;
    color: #666;
}
.search-bar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.search-bar input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}
.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
.cta-buttons {
    margin-top: 20px;
}
.cta-buttons button {
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}
.btn-primary {
    background-color: #28a745;
    color: white;
}
.btn-secondary {
    background-color: #6c757d;
    color: white;
}
.categories {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.category {
    width: 20%;
    background-color: #ae9def;
    padding: 15px 25px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category-title {
    font: bold 20px/1.5 "Arial", Arial, Arial;
    color: #531a4a;
}

.category-mini-description {
    margin-top: 10px;
    font-size: small;
    color: #531a4a;
}

.category-search {
    vertical-align: center;
    horiz-align: center;
    margin-top: 15px;
    background-color: #531a4a;
    color: gold;
    font-size: medium;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    border-radius: 10px;
}