@model Aeon_Web.Models.Entities.Vacancy

<link rel="stylesheet" type="text/css" href="~/css/catalog/item.css">
<div>
    <div class="item">
        <div class="text-container">
            <h4>@Model.Name</h4>
            <h5 class="item-text">@Model.WhoNeeded</h5>
            <h6>@Model.ShortDescription</h6>
        </div>
        <div>
            <a class="item-nav" id="apply-button" asp-controller="Home" asp-action="Privacy">Откликнуться</a>
            <div class="item-nav" id="contacts-button">Контакты</div>
        </div>
    </div>
    <div>
        @Model.Description
    </div>
</div>