@model Aeon_Web.Models.ViewModels.VacancyListViewModel


<link rel="stylesheet" href="~/css/landing.css"/>
<div class="colored-body">
    <table class="table">
        <tr class="hidden">
            <td class="left-column">
                <div>
                    <h1 class="text">
                        Unlock Your Next Adventure in the Job Market
                    </h1>
                    <h5 class="text">
                        Welcome to your next adventure in job hunting! Dive into a world of exciting opportunities where your 
                        dream role is just a click away—let's make job searching a thrilling journey together!
                    </h5>
                    <div class="button">
                        LEARN MORE
                    </div>
                    <div>
                    </div>
                </div>
            </td>
            <td class="right-column">
                
            </td>
        </tr>
    </table>
</div>