@{
    ViewData["Title"] = "Find Your Perfect Team";
}

<link rel="stylesheet" href="~/css/home/index.css"/>
<div class="main">
    <div class="content-container">
        <h1 class="title">Aeon - Найди идеальную команду</h1>
        <p class="text">Присоединяйтесь к сообществу инноваторов и создавайте потрясающие проекты вместе.</p>

        <div class="search-bar">
            <input type="text" placeholder="Введите название проекта или навык">
            <button>Поиск</button>
        </div>

        @*<div class="cta-buttons">
            <button class="btn-primary">Создать проект</button>
            <button class="btn-secondary">Присоединиться</button>
        </div>*@

        <div class="categories">
            <div class="category">
                <div class="category-title">
                    Angular
                </div>
                <div class="category-mini-description">
                    Мини описание наверное
                </div>
                <div class="category-search">
                    Search
                </div>
            </div>
            <div class="category">
                <div class="category-title">
                    TypeScript
                </div>
                <div class="category-mini-description">
                    Мини описание наверное
                </div>
                <div class="category-search">
                    Search
                </div>
            </div>
            <div class="category">
                <div class="category-title">
                    Java
                </div>
                <div class="category-mini-description">
                    Мини описание наверное
                </div>
                <div class="category-search">
                    Search
                </div>
            </div>
            <div class="category">
                <div class="category-title">
                    React
                </div>
                <div class="category-mini-description">
                    Мини описание наверное
                </div>
                <div class="category-search">
                    Search
                </div>
            </div>
            <div class="category">
                <div class="category-title">
                    Vue.js
                </div>
                <div class="category-mini-description">
                    Мини описание наверное
                </div>
                <div class="category-search">
                    Search
                </div>
            </div>
        </div>
    </div>
</div>