:root {
  --background: #F9FAFB;
  --card-bg: #FFFFFF;
  --accent: #6366F1;
  --accent-hover: #4F46E5;
  --accent-contrast: #FB923C;
  --accent-contrast-hover:#ffa500;
  --accent-light: #EEF2FF;
  --success: #28A745;
  --danger: #DC3545;
  --text-main: #111827;
  --text-muted: #6B7280;
  --border: #E5E7EB;
  --shadow: rgba(0, 0, 0, 0.05);
  --shadow-accent: #14B8A6;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}